* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html { 
  background: url('art/luca-baggio-211858-unsplash.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ffffff;
}

body {
    font-family: 'Abel', sans-serif;
    color: #363946;
}
fieldset {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0em;
  padding-inline-start: 0em;
  padding-inline-end: 0em;
  padding-block-end: 0em;
 
  border-width: 0px;
  border-style: none;

}


/*header styling*/

header {
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    
}
.logo {
    
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    filter: invert(100%);
}
header ul {
    margin: 10px;
    text-align: center
}
h1 {
    font-size: 1.5em;
    color:#ffffff;
    

}
header ul li {
    padding: .5em;
    font-size: .75em;
}
.col-4,
.col-8 {
    width: 100%
}
/* normalize resets */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   margin: 0; /* 2 */
 }
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input { /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select { /* 1 */
   text-transform: none;
 }
 
 /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }

/*Quiz start screen styling*/

.quizStart {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    
}
h1 {

    text-align: center;

}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: normal;    
    padding-left: 5%;
    padding-right: 5%;

}

.feedback {
    display: flex; 
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/* radio check list minimal */

.question{
    display: flex;
    flex-direction: column;
}
  form {

    text-align: center;    
    color: #fff;
    
    
    /* min-height: 100vh; */
  }
  
  .radio-group {
    background: rgba(0,0,0,0.2533);
    margin: auto;
    padding-left: 15%;
    padding-right:5%;
    display: flex;
    flex-direction: column;

    align-content: center;
    align-items: flex-start;
    text-align: left;
  }

   .radio-label {
      display: block;
      margin: 10px 0;
    }
  .radio-group-label {
    display: block;
    width: 100%;
    margin: 10px 0;
  }


  .radio-label input {
    opacity: 0;
    position: absolute;
  }
  .radio-label .inner-label {
    position: relative;
    display: inline-block;
    padding-left: 40px;
  }
  .radio-label .inner-label:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 1.5px dashed rgba(255, 255, 255, 0.75);
    width: 30px;
    transition: border-bottom 0.5s ease;
  }
  .radio-label input:focus ~ .inner-label:before {
    border-bottom: 1.5px solid rgba(255, 255, 255, 1.0);
  }
  .radio-label input:checked ~ .inner-label:after {
    content: '\2713';
    color: #fff;
    position: absolute;
    font-size: 1em;
    left: 12px;
    top: 1px;
  }
  



/* white to black minimal bordered button */
    button {
        justify-content: center;
        width: 140px;
        color:#454545;
        background:transparent;
        border-width:2px;
        border-style: solid;
        border-color: #454545;
        position:relative;
        margin:1em;
        display:inline-block;
        padding:0.5em 1em;
        transition:all 0.3s ease-in-out;
        text-align:center;
        /* font-family:comfortaa; */
        font-weight:bold
    }
    button:before, button:after {
        content:'';
        display:block;
        position:absolute;
        border-color:#454545;
        box-sizing:border-box;
        border-style:solid;
        width:1em;
        height:1em;
        transition:all 0.3s ease-in-out
    }
    button:before {
        top:-6px;
        left:-6px;
        border-width:2px 0 0 2px;
        z-index:5;
    }
    button:after {bottom:-6px;
        right:-6px;
        border-width:0 2px 2px 0;
    }
    button:hover:before, button:hover:after {
        width:calc(100% + 12px);
        height:calc(100% + 12px);
        border-color:#fff
    }
    button:hover {
        color:#353535;
        background-color:#fff;
        border-color:#fff
    }
    .panel {
        max-width:960px;
        text-align:center;
        position:relative;
        margin:auto;
    }

    button {
        color:#fff;
        border-color:#fff;
        text-shadow:0 1px 1px rgba(0,0,0,0.1);
        box-shadow:0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1) inset
    }
        button:before,  button:after  {
            border-color:#fff
        }
        button:hover:before,  button:hover:after {
            width:calc(100% + 12px);
        height:calc(100% + 12px);
        border-color:#353535;
    }
        button:hover {
            color:#fff;
            background-color:#353535;
            border-color:#353535
        }
@media screen and (min-width:430px){
  .logo{
    height: 120px;
    width: 120px;
  }
  header {
    padding: 20px 0;
  }
  header ul li { 

    font-size: 1 em;
  }
}
@media screen and (min-width: 780px) {
  .logo {
    height:150px;
    width:150px;
  }
  h2 {
    
    font-size: 2em;
  }
  .radio-group{
    padding-left: 30%;
    padding-right: 10%;
  }
}









